body {
    background-color: #F2F2F2;
}

/*NAVBAR*/
.navdiv {
    background: #3C5473; 
    padding-right: 15px; 
    padding: 23px;
}
.default_nav {
    display: grid; 
    grid-template-columns: auto auto auto 1fr auto;
    grid-template-areas: ". . . . contact";
    align-items: center;
    justify-content: space-between;
}
.default_nav > a {
    color: #F2F2F2; 
    font-size: 28px; 
    margin-right: 30px;
    margin-left: 30px;
    text-decoration: none;
    font-family: "Cabin Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
} 
.contact {
    grid-area: contact;
}

/*MOBILE NAVBAR */
.mobile_nav {
    grid-column: span 2;
    animation: appear 1s;
}
.hidden {
    display: none;
}
.mobile_nav > a {
    display: block;
    background: #A8B2BF;
    padding: 10px;
}
.mobileShow {
    display: none;
}

@media all and (max-width: 650px) {
    .mobileHide {
        display: none;
    }
    .mobileShow {
        display: block;
    }
} 

/*NAVBAR TEXT ANIMATION*/
header a {
    color: #18272F;
    position: relative;
    text-decoration: none;
} 
header a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #F2F2F2;
    bottom: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s ease-in-out;
}
header a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/*MENU ICON*/
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/*FOOTER*/
footer {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    grid-template-rows: 1fr;
    background-color:#3C5473;
    padding: 8px;
    align-items: center;
    padding-top: 10px;
    grid-gap: 10px;
}
footer > p {
    font-family: "Arapey", serif;
    font-weight: 400;
    font-style: normal;
    color:#F2F2F2;
    font-size: 20px;
}

/*SCROLLBAR*/
::-webkit-scrollbar {
    width: 15px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3C5473;
    border-radius: 10px;
  }




