.box p {
    font-family: "Arapey", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

.box {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    /* margin-left: 70px; */
    /* padding: 40px; */
    padding-top: 70px;
    padding-bottom: 73px;
}

.container{
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
}

h2 {
    font-family: "Cabin Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
}

.info {
    margin-left: 30px;
}

.socials {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    padding-top: 30px;
}

/*ZOOM HOVER ANIMATION*/
.zoom {
  transition: transform .2s; 
}
.zoom:hover {
  transform: scale(1.5); 
}


