h1 {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 230px;
    margin: 80px;
}

h2 {
    font-family: "Cabin Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    margin: 30px 0;
}

main {
padding: 30px;
}

.this_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: 30px;
}

.this_box > .portfolio_img > img {
    margin: 80px;
 }

.about {
    margin-left: 70px;
    margin-right: 70px;
    font-family: "Arapey", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-align: center;
    border: 2px solid #79838C;
    padding: 10px;
}

.passions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 90%;
    overflow-x: scroll;
    margin: 0 auto;
    box-sizing: border-box;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: 80px;
    align-items: center;
    justify-content: center;
}

.passions img {
    height: 400px;
}

.box {
    background-color: #A8B2BF;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    margin-right: 47px;
    grid-gap: 10px;
}

.item > p {
    font-family: "Arapey", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
} 

.text > .item {
    background: #7B8DA6;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}





